.jmd-notion-rich-text {
  color: var(--color-text-1);
  &.bold {
    font-size: 600;
  }
  &.code {
    color: var(--color-text-0);
    &::before, &::after {
      content: "`";
    }
  }
  &.href {
    color: var(--color-text-0);
    font-size: 600;
    border-bottom: 1px solid var(--color-text-0);
    &:hover {
      border-width: 2px;
    }
  }
}