@import "./palette.scss";

body, .always-light {
  --color-primary: rgba(var(--slate-900), 1);

  --color-text-0: rgba(var(--gray-900), 1);
  --color-text-1: rgba(var(--gray-900), 0.8);
  --color-text-2: rgba(var(--gray-900), 0.6);
  --color-text-3: rgba(var(--gray-900), 0.35);

  --color-bg-0: rgba(var(--slate-600), 0.05);
  --color-bg-1: rgba(var(--slate-600), 0.09);
  --color-bg-2: rgba(var(--slate-600), 0.13);

  --color-border: rgba(var(--grey-900), .08);
}