.jmd-notion-quote {
  margin-bottom: 12px;
  line-height: 1.5;
  padding-left: 12px;
  position: relative;
  z-index: 1;
  color: var(--color-text-2);
  &::before {
    content: "";
    width: 2px;
    height: 100%;
    border-radius: 1px;
    background-color: var(--color-bg-1);
    position: absolute;
    left: 0;
    top: 0;
  }
}